TP_LPPA_COLAIACOVO/TP_LPPA_COLAIACOVO/App_WebReferences/LPPA_WebService/MiWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarXMLVentas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idVentas" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarXMLVentasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarXMLVentasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarXMLVentasSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarXMLVentas" />
  </wsdl:message>
  <wsdl:message name="GenerarXMLVentasSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarXMLVentasResponse" />
  </wsdl:message>
  <wsdl:portType name="MiWebServiceSoap">
    <wsdl:operation name="GenerarXMLVentas">
      <wsdl:input message="tns:GenerarXMLVentasSoapIn" />
      <wsdl:output message="tns:GenerarXMLVentasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiWebServiceSoap" type="tns:MiWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarXMLVentas">
      <soap:operation soapAction="http://tempuri.org/GenerarXMLVentas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiWebServiceSoap12" type="tns:MiWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarXMLVentas">
      <soap12:operation soapAction="http://tempuri.org/GenerarXMLVentas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiWebService">
    <wsdl:port name="MiWebServiceSoap" binding="tns:MiWebServiceSoap">
      <soap:address location="http://localhost:55415/MiWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MiWebServiceSoap12" binding="tns:MiWebServiceSoap12">
      <soap12:address location="http://localhost:55415/MiWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>